*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input[type=checkbox] {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/* SASS BASE CLASSES */
.absPos, .blocks .trigger, .blocks .block {
  position: absolute;
  width: 50%;
  height: 50%;
}
.absPos.top, .blocks .top.trigger, .blocks .top.block {
  top: 0;
}
.absPos.right, .blocks .right.trigger, .blocks .right.block {
  left: 50%;
}
.absPos.bot, .blocks .bot.trigger, .blocks .bot.block {
  top: 50%;
}
.absPos.left, .blocks .left.trigger, .blocks .left.block {
  left: 0;
}

